* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

button {
    padding: 1px 6px;
    margin: 10px;
}

.container {
    border: 1px solid black;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.grid-cell {
    border: 1px solid black;
}