* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    border: 1px, solid, black;
    padding: 4px;
    margin: 10px 5px;
    
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid-cell {
    height: 40px;
    width: 40px;
    border: 1px, solid, black;
    display: flex;
    flex: 1 0 0;
}