* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

header {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 780px;
    gap: 10px;
    align-items: center;
}

#controls, #instructions, #changeColour {
    flex: 1;
}

#controls, #changeColour {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    padding: 1px 6px;
    margin: 10px;
}

.container {
    border: 1px solid black;
    width: min(90vw, 780px);
    height: min(90vw, 780px);
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.grid-cell {
    border: 1px solid black;
}