* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 20px;
}

.container {
    border: 1px solid black;
    width: 960px;
    height: 960px;
    display: flex;
    flex-wrap: wrap;
}

.grid-cell {
    border: 1px solid black;
    height: auto;
    width: auto;
    /* aspect-ratio: 1/1; */
    flex-grow: 1;
    flex-shrink: 1;
}