* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

header {
    display: flex;
    width: 790px;
    margin-bottom: 8px;
}

header > div {
    flex: auto;
}

button {
    padding: 1px 6px;
    margin: 10px;
}

.container {
    border: 1px solid black;
    width: 780px;
    height: 780px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.grid-cell {
    border: 1px solid black;
}